<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ffbdbd">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet"/>
    <script src="/js/myscript.js"></script>

    <title>Weather App</title>
  </head>

  <body>
    <div class="search">
        <img src ="images/search.svg" id="searchIcon">
    </div>

    <div class="search hidden">
      <form action="/" method="post" id ="searchForm">
        <input name ="searchInput" type="text" id="searchInput">
      </form>
    </div>

    <h1>Weather App.</h1>

    <p><span id="date"></span></p>

    <div class="temp">
      <p>It's <%= tempC %>&deg;C in <%= name %>  <img src ="/images/temp.svg" class="tempIcon"></p>
    </div>
    <div class="temp hidden">
      <p>It's <%= tempF %>&deg;F in <%= name %>  <img src ="/images/temp.svg" class="tempIcon"></p>
    </div>

    <p><%- icon %></p>

    <p><%= summary %></p>

    <div class="hourlyDaily">
      <div class ="temp">
      <% for(var val of hourly) { %>
        <ul style="list-style-type:none;">
          <li><%- val.time_hourly %>:00</li>
          <li><%- val.icon_hourly %></li>
          <li><%- val.temp_hourly %></li>
        </ul>
      <% } %>
      </div>
      <div class ="temp hidden">
      <% for(var val of hourlyF) { %>
        <ul style="list-style-type:none;">
          <li><%- val.time_hourly %>:00</li>
          <li><%- val.icon_hourly %></li>
          <li><%- val.temp_hourly %></li>
        </ul>
      <% } %>
      </div>
    </div>

    <div class="hourlyDaily hidden">
      <div class ="temp">
      <% for(var val of daily) { %>
        <ul style="list-style-type:none;">
          <li><%- val.day %></li>
          <li><%- val.icon_daily %></li>
          <li><%- val.temp_daily %></li>
        </ul>
      <% } %>
      </div>
      <div class ="temp hidden">
      <% for(var val of dailyF) { %>
        <ul style="list-style-type:none;">
          <li><%- val.day %></li>
          <li><%- val.icon_daily %></li>
          <li><%- val.temp_daily %></li>
        </ul>
      <% } %>
      </div>
    </div>

    <button>
      <img src ="images/switch.svg" id="switch">
    </button>

  </body>
</html>
